/* -------Header and Hero Image/Jumbotron Styling --------*/

/* header fall back */
header {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.jumbotron {
  overflow: hidden;
  background-color: #e0ab81 no-repeat center;
  background-image: linear-gradient(118deg, #e0ab81 11%, #1b2ad2 100%);
  background-size: cover;
  opacity: .8;
  filter:grayscale(20%);
}

/* Container holds Header and sub header */
.container {
  text-align: center;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

.container h1 {
  font-size: 60px;
  letter-spacing: 0.2em;
  margin: 0;

}

/* Background/Border around header, Weather Vibes */
.container h1 span {
  border: 5px solid rgb(252, 252, 252);
  padding: 10px 14px;
  background: url("https://cdn.pixabay.com/photo/2022/06/20/14/20/space-7273891_1280.jpg");
  display: inline-block;
  box-shadow:5px 5px 20px #d8dee1;
  border-radius: 5px 50px;
}

/* subtitle*/
.des {
  margin: 10px;
  display: block;
  font-size: 20px;
  font-weight: lighter;
  text-shadow: 0 0px 10px black;
  letter-spacing: 0.5em;

}
/* short description */
.about {
 background: rgba(8, 59, 104, 0.3);
 letter-spacing: 0.1em;
 font-weight: lighter
}


/* ----------------------BODY-------------------------------*/

/* Search City Button */
.btn:hover {
  opacity: 0.5;
}

/* Card Styling */
.card{
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;

}
/* all card headings */
h4 {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-weight: 150px;
    font-variant-caps:all-small-caps;
}


ol, ul {
    list-style: none;
  }


input, select, option, optgroup, textarea, button, pre, code {
    font-size: 100%;
    font-family: inherit;
  }


#upbeat {
    
}

#mellow {

}

#backgroundMusic {

}